/* rest css */
img{border:none;}
textarea,input,button{outline:none;}
textarea:focus, input:focus, button:focus{outline:none; border:none;}
textarea:active, input:active, button:active{outline:none;border:none;}
a:hover {outline: none;}
.btn.submit:focus {
    outline-style: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
label{margin:0;}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Стилі сайту починаться звідси*/

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Задній фон */
body {
    background-color: #000000;
    background-image: url("../db/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


